/node_modules
npm-debug.log
.DS_Store
/.eslintcache/
*.iml
/.idea
/build/
/coverage/
/cache/
/htdocs/
/.vscode
.env
/.vercel
/test-results/
/playwright-report/
/playwright/.cache/
/e2e/.auth/
.env.sentry-build-plugin
/styled-system/
